<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="com.hm.regression.AddParentTitle_TS_04"/>
      <class name="com.hm.regression.Search_TS_02"/>
      <class name="com.hm.regression.AffiliateLink_TS_03"/>
      <class name="com.hm.regression.CreateTitle_TS_19"/>
      <class name="com.hm.regression.NewHierarchyVerify_TS_09"/>
      <class name="com.hm.regression.VerifyRelationShipsTab_TS_11"/>
      <class name="com.hm.regression.LoginSuccess_TS_01"/>
      <class name="com.hm.regression.SuperAssignDateChangeVerify_TS_13"/>
      <class name="com.hm.regression.CurrentHierarchy_TS_18"/>
      <class name="com.hm.regression.SearchBySalesIdVerif_TS_07"/>
      <class name="com.hm.regression.MapHierTeamVerify_TS_10"/>
      <class name="com.hm.regression.AddRegionAndAddCity_TS_15"/>
      <class name="com.hm.regression.CreateResource_TS_20"/>
      <class name="com.hm.regression.AgentHistory_TS_22"/>
      <class name="com.hm.regression.GetContactAndPaymentInfo_TS_12"/>
      <class name="com.hm.regression.HMHelpAndDataHelpVerify_TS_17"/>
      <class name="com.hm.regression.AddInternalAgent_TS_16"/>
      <class name="com.hm.regression.CreateRegion_TS_21"/>
      <class name="com.hm.regression.ABMLINKClearBtn"/>
      <class name="com.hm.regression.ResetAgent_TS_14"/>
      <class name="com.hm.regression.AddChildTitleVerify_TS_06"/>
      <class name="com.hm.regression.MapDetailTitle_TS_08"/>
      <class name="com.hm.regression.UserTitle_TS_05"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
